<!--página principal-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" type="imagem/png" href="/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogApp - (main.handlebars)</title>
    <style>
        body {background: #61749C;}
        .usertag{color: rgb(193, 215, 240); text-align: right; font-weight: bold;}
        .usertag a{color: white;}
    </style>
</head>
<body>
    {{>_navbar}} <!-- estara em tds as ROTAS do projeto. (o sinal '>' indica que o arq está no dir 'partials')-->    
    <div class="container mt-4">
        {{>_userWelcome}} <!--usuario logado-->   
        {{>_msgErrorAuth}} <!-- tratamento de erros de autenticação-->        
        {{>_msg}} <!-- tratamento de erros -->
        {{{body}}}
    
    </div>


        <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
    <script src="/js/bootstrap.js"></script>
</body>
</html>